h1 {
  font-size: 30px;
}

.control {
  height: 415px;
  width: 350px;
  border: 1px solid pink;
}

.column1 {
  width: 100px;
  height: 100px;
  outline: 3px solid white;
  display: inline-block;
  background-color: blue;
  color: blue;
  font-size: 60px;
  text-align: center;
}

.section {
  border: 1px solid green;
}

.active {
  color: white; 
}
p {
  text-align: center;
  font-size: 30px;
  color: green;
}
