body {
  background-color: #344146;
}

h1 {
  font-size: 30px;
  color: #FFFFF7;
  font-family:sans-serif; ;
  margin-left: 10px;
}


.control {
  margin-left: 2.5%;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  background-image: url('images/starz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.column1 {
  width: 24.5%;
  height: 32%;
  /*outline: 3px solid #D4D4D4;*/
  background-color: #2CC990;
  /*color: #2CC990;*/
  font-size: 60px;
  text-align: center;
  box-shadow: 10px 10px 15px #D4D4D4;
  border-radius: 25px;
  justify-content: space-around;
}

.column1:hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px rgb(15, 100, 248);
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(15, 100, 248);
  height: 30%;
  width: 101%;
  position: relative;
  top: -10px;
  left: -6px;
  margin-bottom: 20px;
  /*outline: 2px solid white;*/
  border-bottom: 2px solid white;
  margin-right: 20px;
  justify-content: space-between;
  }

.header p {
  text-align: right;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

.active {
  color: white;
}

.active#a.column1 {
  background-image: url('images/saturn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active#b.column1 {
  background-image: url('images/solar_system.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active#c.column1 {
  background-image: url('images/color_cloud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active#d.column1 {
  background-image: url('images/blue_cloud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active#e.column1 {
  background-image: url('images/gods_eye.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active#f.column1 {
  background-image: url('images/galactic_core.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header button {
  display: flex;
  background-color: white;
  border: none;
  color: rgb(15, 100, 248);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 24px 12px;
  transition-duration: 0.4s;
  border-radius: 25px;
  cursor: pointer;}

.header button:hover {
    background-color: rgb(15, 100, 248);
    color: white;
    border-radius: 25px;
    border: 1px solid white;
}
